*.h text working-tree-encoding=cp1251 eol=crlf
*.c text working-tree-encoding=cp1251 eol=crlf
*.ini text working-tree-encoding=cp1251 eol=crlf
*.ani text working-tree-encoding=cp1251 eol=crlf
*.txt text working-tree-encoding=cp1251 eol=crlf
